@charset "utf-8";
/* CSS Document */

	body{background-color: #fff; font-size: 0.9em;}
	#email{max-width: 650px; margins:10px;}
	h3, p, li {font-family: Ebrima, "Helvetica Neue", Helvetica, Arial, "sans-serif";}	
	h3 {font-weight: normal; font-size: 130%; color: #009cbd;}
	hr.gr {border-top: 1px #666666; clear: both; margin: 7px 10px; }
	a {color: #009cbd;}
	img.right{float:right; padding: 0px 0px 10px 10px;}
	img.social{padding-right:15px;}